<div class="container">
  <h3>Fatura</h3>
  <div class="row mt-3">

    <div class="col-md-6">
      <div class="form-group">
        <label for="isim">Isim</label>
        <input class="form-control" type="text" (input)="getInputValue($event.target.value)">
      </div>
    </div>

    <div class="col-md-6"><label><b>Isim</b></label>
      <div>{{name |titlecase}} </div>
    </div>
  </div>
  <div class="row mt-3">

    <div class="col-md-6">
      <div class="form-group">
        <label for="isim">Odeme Tarihi</label>
        <input class="form-control" type="date" (input)="onDateChange($event.target.value)">
      </div>
    </div>

    <div class="col-md-6"><label><b>Odeme Tarihi</b></label>
      <div>{{date| date:'longDate'}} </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="isim">Tutar</label>
        <input class="form-control" (input)="onMoneyChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6"><label><b>Tutar</b></label>
      <div>{{money | currency}} </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="isim">Boy</label>
        <input class="form-control" (input)="onHeightChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6"><label><b>Boy</b></label>
      <div>{{height | number:'1.1-4'}} </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="isim">Miles</label>
        <input class="form-control" (input)="onMilesChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6"><label><b>Kilometre</b></label>
      <div>{{miles | convert:'m'}} </div>
    </div>
  </div>
  <br />
  {{lessons | json}}
</div>